html, body {
    height: 100%;
    margin: 0;
    background-color: lightblue;
}
/* *{
    transition: all 0.0s ease-out !important;
} */
*, ::after, ::before {
    box-sizing: content-box !important;
}

