html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(183, 207, 223);
}
/* *{
    transition: all 0.0s ease-out !important;
} */
*, ::after, ::before {
    box-sizing: content-box ;
}
.App{
    /* display: inline-block; */
    height: 100%;
    width: auto;
    background-color: rgb(183, 207, 223);
}